.hero-container {
	height: 100vh;
	width: 100vw;
	background-image: url('../../assets/circle-1.png'),
		url('../../assets/hero-bg-2.png');
	background-position: right top, left top;
	background-repeat: no-repeat, repeat;
	background-size: inherit;
	overflow: hidden;
	position: relative;

	.circle {
		position: absolute;
		top: -20%;
		right: -20%;
		width: 700px;
		height: 700px;
		border-radius: 50%;
		border: 5px dotted #801eff;
		z-index: 1;

		.circle-container {
			position: absolute;
			bottom: 0;
			left: 0;
			border: 10px dashed #801eff;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			animation: circle 5s infinite;

			@keyframes circle {
				0% {
					transform: rotate(0deg);
				}

				100% {
					transform: rotate(360deg);
				}
			}

			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
	}
}

.hero-section_container {
	height: 80vh;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	// padding: 0 3.75rem;

	.hero-section {
		width: 70%;
		display: flex;
		flex-direction: column;
		flex-flow: wrap;
		gap: 10px;

		h2 {
			font-size: 70px;
			font-family: 'IBM Plex Mono', monospace;
			font-weight: 900;
			color: #1c1c1c;
		}

		h1 {
			font-size: 80px;
			font-family: 'IBM Plex Mono', monospace;
			font-weight: 900;
			color: #1c1c1c;
		}

		p {
			line-height: 2;
		}

		@media screen and (max-width: 768px) {
			width: 100%;

			h2 {
				font-size: 50px;
			}

			h1 {
				font-size: 60px;
			}
		}
	}
}

.btn {
	display: inline;
	padding: 15px 25px;
	border: none;
	font-size: 16px;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.btn-purple {
	color: #fff;
	background: #9328ff;
	transition: all 0.3s ease-in-out;

	:hover {
		color: #7b21d6;
		background: #7b21d6;
	}
}