.mission-section__container {
	display: flex;
	align-items: center;
	gap: 150px;

	@media screen and (max-width: 768px) {
		flex-direction: column;
		gap: 0;
	}

	.mission-section__content {
		flex-basis: 50%;

		.mission-text {
			width: 550px;
			font-size: 1.2rem;
			color: #000;
			margin-bottom: 20px;
			line-height: 28.18px;

			p {
				margin-bottom: 10px;
			}

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}
	}

	.mission-section__image {
		flex-basis: 50%;

		.mission-img {
			height: 500px;
			object-fit: cover;
			border-radius: 20px;
		}
	}
}
