.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3.75rem;
    color: #fff;

    .nav-brand img {
        width: 60%;
    }

    a {
        color: #2d2d2d;
        text-decoration: none;

        :hover {
            color: rebeccapurple;
            text-decoration: underline;
        }
    }

    .nav-items {
        display: flex;
        justify-content: space-evenly;
        list-style: none;

        li {
            margin: 0 30px;
        }
    }
}